<a href="https://colab.research.google.com/github/menobleknight/using-python-for-research/blob/main/week-4-part-1/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### [`pandas.Series`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html)

- `It is a one-dimensional array-like object.`

In [13]:
import pandas as pd

x = pd.Series([6, 3, 8, 6]) # creating Series from List
x

0    6
1    3
2    8
3    6
dtype: int64

In [14]:
x = pd.Series([6, 3, 8, 6], index=["q", "w", "e", "r"]) # specifying indices
x

q    6
w    3
e    8
r    6
dtype: int64

In [15]:
x["w"]

3

In [16]:
x[["r", "w"]]

r    6
w    3
dtype: int64

In [17]:
x.index

Index(['q', 'w', 'e', 'r'], dtype='object')

In [18]:
sorted(x.index)

['e', 'q', 'r', 'w']

In [19]:
x.reindex(sorted(x.index))

e    8
q    6
r    6
w    3
dtype: int64

In [ ]:
age = {"Tim": 29, "Jim": 31, "Pam": 27, "Sam": 35} # creating Series from Dictionary

x = pd.Series(age)
x

Tim    29
Jim    31
Pam    27
Sam    35
dtype: int64

In [21]:
x = pd.Series([6, 3, 8, 6], index=["q", "w", "e", "r"])
y = pd.Series([7, 3, 5, 2], index=["e", "q", "r", "t"])

x + y # NaN is introduced where index doesn't match

e    15.0
q     9.0
r    11.0
t     NaN
w     NaN
dtype: float64

### [`pandas.DataFrame`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html)

- `It is a two-dimensional array-like object.`

In [ ]:
data = {
    "name" : ["Tim", "Jim", "Pam", "Sam"],
    "age" : [29, 31, 27, 35],
    "ZIP" : ["02115", "02130", "67700", "00100"] 
}

x = pd.DataFrame(data, columns=data.keys())
x

  name  age    ZIP
0  Tim   29  02115
1  Jim   31  02130
2  Pam   27  67700
3  Sam   35  00100

In [ ]:
x["name"]

0    Tim
1    Jim
2    Pam
3    Sam
Name: name, dtype: object

In [ ]:
x.name

0    Tim
1    Jim
2    Pam
3    Sam
Name: name, dtype: object